<!DOCTYPE html>
<html>
<head>
    <title>Login - Cloud Food Ordering</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>🔐 Customer Login</h1>
    </header>

    <section class="register">
        <h2>Login</h2>

        <form method="POST" action="/login">

            <input type="email"
                   name="email"
                   placeholder="Enter your email"
                   required>
            <br><br>

            <input type="password"
                   name="password"
                   placeholder="Enter your password"
                   required>
            <br><br>

            <button type="submit">Login</button>

        </form>
    </section>

</body>
</html>